@model IEnumerable<Category>

<div class="categoryTitle">
    <div>
        <p class="lead">
            <img class="img-responsive" alt="Pie Shop'" src="~/Images/shoplogo.jpeg" />
        </p>
    </div>
    <p>
        <a class="btn btn-primary"
           asp-controller="Pie" asp-action="List">View All Pies</a>
    </p>

    @foreach (var category in Model)
    {
        <p>
            <a class="btn btn-primary"
               asp-controller="Pie" asp-action="List"
               asp-route-category="@category.CategoryName">@category.CategoryName</a>
        </p>


    }

</div>